body {
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(50deg, grey, black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header:hover {
    color: black;
}

header {
    text-align: center;
    padding: 30px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid yellow;
}

header img:hover {
    border: 2px solid black;
}

header h1 {
    margin: 15px 0 5px;
    font-size: 25px;
}

header p {
    margin: 2px;
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 400px;
}



.card {
    background: rgba(255, 255, 255, 0.1);
    color: yellow;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.1);
}

.card a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(61, 61, 59, 0.2);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: yellow;
    font-size: 15px;


}

.card a:hover {
    background-color: rgba(182, 177, 177, 0.5);
    color: black;
}

footer {
    margin: 30px 0px;
    font-size: 14px;
    text-align: center;
}

footer:hover {
    color: black;
}


.card2 {
    background: rgba(255, 255, 255, 0.1);
    color: yellow;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}



.card2 a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(61, 61, 59, 0.2);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: yellow;
    font-size: 15px;


}


.card2 a:hover {
    background-color: rgba(182, 177, 177, 0.5);
    color: black;
}


.card3 {
    background: rgba(255, 255, 255, 0.1);
    color: yellow;
    border-radius: 15px;

    padding: 20px;
}



.card3 a {
    display: inline-block;
    margin: 10px;
    padding: 2px 2px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    color: yellow;
    font-size: 15px;


}

.card3 a:hover {
    background-color: rgba(182, 177, 177, 0.5);
    color: black;
}

.mark {
    text-align: center;
}

button {
    background-color: yellow;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}